streamlit
pandas
opencv-python-headless
# flash-attn

# Menginstal ultralytics (YOLOv12) langsung dari repo resmi
# Ini adalah trik agar kita mendapatkan versi yang TEPAT (bukan dari PyPI)
git+https://github.com/thariqabe666/yolov12.git